<div class="wallpaper-container">
  <div id="top" class="wallpaper-img animate__animated animate__fadeIn" #topRef></div>
  <div class="wallpaper-content">
    <div class="img-container">
      <img
        class="wallpaper-logo animate__animated animate__fadeIn animate__delay-1s"
        alt="Artemis"
        src="../../../../../../assets/images/logos/artemis-white.png"/>

      <div
        class="wallpaper-title light mt50 animate__animated animate__fadeIn animate__delay-2s"
        [textContent]="'HOME.WALLPAPER.TITLE' | translate">
      </div>
    </div>
    <div class="button-container">
      <button mat-mini-fab class="scroll-btn animate__animated animate__flipInY animate__delay-3s">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>
</div>