<ng-container *ngIf="opened">

  <div
    class="sidenav-overlay"
    *ngIf="showSidenav"
    (click)="closeSidenav()"></div>

  <div
    class="sidenav"
    [ngClass]="{'shadow': showSidenav}"
    [@slideInOut]="showSidenav"
    (@slideInOut.done)="slideInOutEnd($event)" > 

    <!-- ACCORDION MENU -->
    <artemis-sidebar-accordion
      [options]="options"
      [menuItems]="menuItems"
      [currentLang]="currentLang"
      (changeLang)="changeLanguage($event)"
      (closeSide)="closeSidenav($event)"></artemis-sidebar-accordion>

  </div>

</ng-container>
