<artemis-sidebar
  [opened]="opened"
  [menuItems]="menuItems"
  [options]="options"
  [showSidenav]="showSidenav"
  [currentLang]="currentLang"
  (toggle)="toggleSidebar()"
  (changeLang)="changeLanguage($event)">
</artemis-sidebar>

<div class="main-layout-container">

  <artemis-header
    [isOnTop]="isOnTop"
    [menuItems]="menuItems"
    [currentLang]="currentLang"
    (toggle)="toggleSidebar()"
    (changeLang)="changeLanguage($event)">
  </artemis-header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <artemis-footer></artemis-footer>

</div>